@if ((data$ | async) || { items: [], count: 0 }; as data) {
  <mat-table [dataSource]="data.items" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let t">
        {{ t.name }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="formalName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Formal Name</mat-header-cell>
      <mat-cell *matCellDef="let t">
        {{ t.formalName }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="region">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Region</mat-header-cell>
      <mat-cell *matCellDef="let t">
        {{ t.region }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="subregion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Subregion</mat-header-cell>
      <mat-cell *matCellDef="let t">
        {{ t.subregion }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="continent">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Continent</mat-header-cell>
      <mat-cell *matCellDef="let t">
        {{ t.continent }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="stateProvinceCount">
      <mat-header-cell *matHeaderCellDef>State Count</mat-header-cell>
      <mat-cell *matCellDef="let t">
        {{ t.stateProvinceCount }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="population">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Population</mat-header-cell>
      <mat-cell *matCellDef="let t">
        {{ t.population }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let c">
        <a mat-icon-button [routerLink]="[c.id]" title="Details">
          <mat-icon color="primary">edit</mat-icon>
        </a>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" />
    <mat-row *matRowDef="let row; columns: displayedColumns" />
  </mat-table>
  <mat-paginator [pageSize]="dataFilter.pageSize" [length]="data.count" />
}
