@use '@angular/material' as mat;
@use 'src/styles/mixins' as *;

.mat-mdc-table {
  @include mat-table-columns((
    state: (width: 25%),
    country: (width: 25%),
    population: (width: 10%),
    actions: (width: 70px)
  ));
}

.mat-mdc-raised-button {
  width: 150px;
}

:host ::ng-deep {
  .mat-mdc-form-field {
    align-items: self-end;
    margin-left: auto;
    width: 40%;

    &.density-5 {
      @include mat.form-field-density(-5);
      font-size: 14px;

      .mat-icon {
        padding: 6px;
      }
    }
  }
}
