[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn
[dn]
C = DE
ST = Leipzig
L = Leipzig
O = Sachs
OU = Private
emailAddress = angular@wide-world.com
CN = angular-localhost
[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1 = localhost
