<div class="app-container">
  <mat-toolbar class="app-toolbar">
    <a routerLink="/home"><h1>Wide World Importers</h1></a>
    <a (click)="toggleDarkTheme()" class="theme-toggle fx-row" aria-label="Toggle Dark Theme">
      <mat-icon>{{ isDarkMode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </a>
  </mat-toolbar>
  <mat-sidenav-container class="app-sidenav-container">
    @if (authStatus().isAuthenticated) {
      <mat-sidenav #sidenav [mode]="'side'" fixedTopGap="56" [opened]="authStatus().isAuthenticated">
        <app-navigation-menu />
      </mat-sidenav>
    }
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
