@use '@angular/material' as mat;
@use 'src/styles/variables' as *;
@use 'src/styles/material-theme' as *;

.mat-toolbar {
  height: $header-height;
  h1 {
    margin: 0;
  }
}

.app-container {
  height: 100%;
}
$sidebar-width: 90px;

mat-sidenav-container {
  flex: 1;
  min-height: calc(100% - $header-height);
  background: mat.get-color-from-palette($primary, 50);

  mat-sidenav {
    width: $sidebar-width;
  }

  mat-sidenav-content {
    padding: 16px;
  }
}
