$header-height: 60px;

.mat-toolbar {
  height: $header-height;
  a {
    text-decoration: none;

    h1 {
      margin: 0;
    }
  }

  .theme-toggle {
    margin-left: auto;
    cursor: pointer;
  }
}

.app-container {
  height: 100%;
}

mat-sidenav-container {
  flex: 1;
  min-height: calc(100% - $header-height);

  mat-sidenav {
    width: 90px;

    &.mat-drawer-side {
      border-right: none;
    }
  }

  mat-sidenav-content {
    padding: 16px;
  }
}
