@if ((data$ | async) || { items: [], count: 0 }; as data) {
  <mat-table [dataSource]="data.items" appTableQueryString [paginator]="paginator" matSort [matSortActive]="dataFilter.sortColumn" matSortDisableClear [matSortDirection]="dataFilter.sortDirection">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let t">
        {{ t.name }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
      <mat-cell *matCellDef="let t">
        {{ t.category }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
      <mat-cell *matCellDef="let t">
        {{ t.phone }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fax">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fax</mat-header-cell>
      <mat-cell *matCellDef="let t">
        {{ t.fax }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let t">
        <a mat-icon-button [routerLink]="['/', 'suppliers', t.id]" title="Details">
          <mat-icon color="primary">edit</mat-icon>
        </a>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" />
    <mat-row *matRowDef="let row; columns: displayedColumns" />
  </mat-table>
  <mat-paginator #paginator [pageSize]="dataFilter.pageSize" [length]="data.count" />
}
