@use 'mat-card' as *;
@use 'mat-form' as *;
@use 'mat-table' as *;
@use './theme/light';

@include mat.core();

@include mat.core-theme(light.$my-app-light-theme);
@include mat.button-theme(light.$my-app-light-theme);
@include mat.card-theme(light.$my-app-light-theme);
@include mat.form-field-theme(light.$my-app-light-theme);
@include mat.icon-theme(light.$my-app-light-theme);
@include mat.input-theme(light.$my-app-light-theme);
@include mat.table-theme(light.$my-app-light-theme);
@include mat.toolbar-theme(light.$my-app-light-theme);

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE */
  user-select: none;
}

@mixin fx-core($direction) {
  display: flex;
  flex-direction: $direction;
}

.fx-row {
  @include fx-core(row);
}

.fx-column {
  @include fx-core(column);
}

.fx-align-center {
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.fx-gap10 {
  gap: 10px;
}
