@use 'mat-card' as *;
@use 'mat-form' as *;
@use 'mat-table' as *;

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE */
  user-select: none;
}

.fx-row {
  display: flex;
  flex-direction: row;
}

.fx-align-center {
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.fx-gap10 {
  gap: 10px;
}
