@use 'src/styles/mixins' as *;

.mat-mdc-nav-list {
  height: calc(100% - 16px);

  .mat-mdc-list-item {
    box-sizing: border-box;
    height: 80px;

    .list-item-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 12px;

      .mat-icon {
        @include mat-icon-size(42px);
      }

      .list-item-text {
        margin-top: 4px;
        font-size: 12px;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
      }
    }
  }
}
